.body{
    text-align: center;
    font-size: 30px;
}

.cap{
    display: grid;
    background-color: rgba(255, 248, 220,1);
    height: 80px;
    justify-content: center;
}

.conteiner-main{
    display: grid;
    grid-template-columns: 60% 40%;
}

.article{
    background-color: rgba(255, 182, 193,0.5);
    height: 400px;

}

.basic{
    
    display: grid;
    height: 200px;
    justify-content: center;
}


.container{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 80px; 
    justify-items: center;
}

.item1, .item2 {
    margin: 25px;
    height: 60px;;
    background-color: rgba(255, 192, 203,1) ;
    width: 200px;
}
.item3{
    display: grid;
    background-color: rgba(255, 192, 203,1) ;
    height: 60px;
    margin: 25px;
}


.side{
    display: grid;
    background-color: rgba(175, 238, 238,1);
    width: 620px;
    justify-content: center;
}


.flex-basement{
    display: grid;
    border: 1px solid rgba(255, 248, 220,1);
    background-color: rgba(255, 248, 220,1);
    justify-content: space-around;
    
}


.section1, .section2, .section3, .section4  {
    align-content: center;
    display: inline-grid;
    height: 100px;
    width: 350px;
    border: 1px solid rgba(255, 218, 185,0.5);
    background-color: rgba(255, 218, 185,0.5);
    margin: 10px;
}
